@font-face{
    font-family: Gunji;
    scr: url('font/Gunji.otf') format('OpenType')
    font-weight: normal;
    font-style: normal;
}
		h1{color:	black;
  		font-size: 48px;
  		font-family: 'Pacifico', cursive;
		}
        p{color: red;
        font-size: 32px;
        font-family: 'Caveat', cursive;
        }
        span{
        	background: blue; 
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 30px;
            font-family: 'Gunji',normal;
            display: block;
            margin: 20px 0;
        }
        div{
            margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
           background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612802936_6-p-nezhno-goluboi-fon-anime-7.jpg);
           background-size: cover; 
            padding: 50px;
        }
            
            .link{
                display: inline;
            }
